@page "/create"

<PageTitle>Add City</PageTitle>

<h1>Add City</h1>

<EditForm Model="@newCity" OnValidSubmit="createCity"> 
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label for="fondation">Name</label>
        <InputText id="name" @bind-Value="newCity.name" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="fondation">Fondation</label>
        <InputDate id="fondation" @bind-Value:format="dd.MM.yyyy" @bind-Value="newCity.fondation" class="form-control" />
    </div>
    <div class="form-group">
        <label for="population">Population</label>
        <InputNumber id="population" @bind-Value="newCity.population" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <ValidationSummary/>
</EditForm>



@code {
    private CityViewModel newCity = new CityViewModel();

    private async Task createCity()
    {
        await _citiesService.CreateCity(newCity);
        Navigation.NavigateTo("/");
       
    }



}
